venv/
ENV/
env/

*.env
.env.*

__pycache__/
*.py[cod]
*$py.class

*.log

*.sqlite3
*.db

.DS_Store
Thumbs.db

*.swp
*.bak


*.postman_collection.json

/app/data/*.pkl

.vscode/
.idea/
*.iml

*.pid
*.seed
*.bak
*.backup